<h1>{{ user }}'s notes</h1>

<form action="logout/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Logout"/>
</form>


<h2>
    Search notes
</h2>
<form action="/" method="GET">
    {% csrf_token %}
    <input type="text" name="search_term" id="search_term">
    <input type="submit" value="Search">
</form>


<h2>Notes</h2>
    {% for note in notes %}

        <p>
            Owner: {{ note.owner }}
        </p>
        <p>
            Note: <a href="notes/{{ note.pk }}" >{{ note.content }}</a>
        </p>
        <p>
            <a href="notes/{{ note.pk }}/delete">Delete note</a>
        </p>
    {% endfor %}
    {% if not notes %}
        <p>
            No notes yet.
        </p>
    {% endif %}


<h2>New note</h2>
<form action="add/" method="post" >
    {% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Create"/>
</form>